* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';

}

body h2 {
  color: #fff;
}

.logo h2 {
  margin-top: 20px;
  margin-left: 60px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/bg3.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.logo {
  float: left;
}

.logo img {
  width: 100%;
}

.welcome {
  position: absolute;
  width: 650px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;
}

.welcome h3 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.welcome h3 span {
  color: #00fecb;
}

.welcome a {
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}

.welcome a:hover {
  background: #fff;
  color: #333;
}

.pattern {
  height: 80vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
  background-image: repeating-linear-gradient(32deg,
      transparent,
      transparent 2px,
      black 5px,
      black 5px,
      transparent 4px);
  /*     background-size: 6px 6px; */
}

/*resposive*/

@media (max-width:600px) {

  .logo {
    float: none;
    width: 50%;
    text-align: center;
    margin-left: 120px;

  }

  .welcome {
    width: 100%;
    height: 80vh;


  }

  .welcome h1 {
    font-size: 30px;
  }

  .gallery {
    overflow: scroll;
  }

}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 50px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;

}

body {
  margin: 0;
  font-family: Montserrat;
}

a {
  color: #fff;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  margin-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

}

.header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background: #fff;
  color: #333;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 50px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;

}